body {
    font-family: 'Poppins', sans-serif;
}

.section-title {
    font-weight: 600;
    color: white;
}

.section-para {
    color: white;
    opacity: 1!important;
}

.section-blue {
    background-color: #436d9d!important;
}

.section-light-blue {
    background-color: #ace8ef!important;
}

.slide-content-img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    object-position: 100% 0;
}

.nilai-card {
    transition: transform .7s ease-in-out;
    box-shadow: 0.1em 0.1em 1.5em rgba(102, 100, 100, 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
}

.nilai-card:hover {
    transform: scale(1.1);
}

.nilai-title-shadow {
    -webkit-box-shadow: -19px -20px 15px -1px #436d9d;
    box-shadow: -19px -20px 15px -1px #436d9d;
}

.divisi-card {
    transition: transform .7s ease-in-out;
    box-shadow: 0.1em 0.1em 1.5em rgba(32, 65, 71, 0.603);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(227,250,255,1) 20%, rgba(172,232,239,1) 50%, rgba(67,109,157,1) 100%);
    background-clip: border-box;
    border-radius: 1rem;
    color: black!important;
    width: 18rem;
    height: 12rem;
}

.divisi-card:hover {
    transform: scale(1.1);
}

.pengurus-card {
    flex-shrink: 0;
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

.prestasi-card {
    margin: -30px -20px -20px -20px;
    height: 20em;
}

.prestasi-circle {
    height: 3em;
}

.prestasi-divisi {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,195,2,1) 100%);
    border-radius: 40px;
    display: inline;
    padding: 0rem 1rem;
}

.divisi-title-white {
    -webkit-box-shadow: 10px 10px 15px 2px rgba(0,0,0,0.66);
    box-shadow: 10px 10px 15px 2px rgba(0,0,0,0.66);
    color: #436d9d;
    background: white;
}

.divisi-title-blue {
    -webkit-box-shadow: 10px 10px 15px 2px rgba(125,125,125,0.66);
    box-shadow: 10px 10px 15px 2px rgba(125,125,125,0.66);
    color: white;
    background: #ace8ef;

}

.divisi-title {
    font-size: x-large;
    font-weight: bold;
    border-radius: 40px;
    display: inline;
    padding: 0.3rem 1.7rem;
    transition: transform .7s ease-in-out;
}

.divisi-title:hover {
    transform: scale(1.1);
}

.divisi-desc {
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
}

.divisi-img {
    transition: transform .7s ease-in-out;
}

.divisi-img:hover {
    transform: scale(1.1) rotate(15deg);
}

@media (min-width: 767px) {
    .about-decor {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .about-decor {
        display: none;
    }
}

@media (min-width: 960px) {
    .small-prestasi {
        display: none!important;
    }
}

@media (max-width: 960px) {
    .large-prestasi.row {
        display: none!important;
    }
}
